<p>
  heroes works!
</p>
<p>
  {{hero.name|uppercase}}
  ID= {{hero.id}} 
</p>
<div>
  <label for="name">Name</label>
  <input [(ngModel)]="hero.name" placeholder="type name">
</div>
<div>
  <ul>
    <li *ngFor = "let hero1 of heroes" (click)="onSelect(hero)">{{hero1.name}} </li>
  </ul>
  
</div>

<div *ngIf=selectedHero>
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
</div>  